<article class="blog_card">
  <a href="{{ include.blog.url | relative_url }}" class="blog_card__image-link">
    <img 
      src="{{ include.blog.thumbnail | relative_url }}" 
      alt="{{ include.blog.title }}"
      class="blog_card__image"
    />
  </a>

  <div class="blog_card__content">
    <h2 class="blog_card__title">
      <a href="{{ include.blog.url | relative_url }}">{{ include.blog.title }}</a>
    </h2>

    <p class="blog_card__meta">
      {% if include.blog.author %}{{ include.blog.author }} • {% endif %}
      {{ include.blog.date | date: "%B %-d, %Y" }}
    </p>

    {% if include.blog.excerpt %}
      <p class="blog_card__excerpt">{{ include.blog.excerpt | strip_html | truncatewords: 30 }}</p>
    {% endif %}

    {% if include.blog.location or include.blog.type %}
      <p class="blog_card__tags">
        {% if include.blog.location %}<span class="blog_card__tag">{{ include.blog.location }}</span>{% endif %}
        {% if include.blog.type %}
          <span class="blog_card__tag">
            {% if include.blog.type == 'foot' %}<i class="fas fa-person-hiking"></i> Foot
            {% elsif include.blog.type == 'bike' %}<i class="fas fa-bicycle"></i> Bike
            {% endif %}
          </span>
        {% endif %}
      </p>
    {% endif %}

    <a href="{{ include.blog.url | relative_url }}" class="blog_card__read-more">Read more</a>
  </div>
</article>