<article class="blog_list_item">
  <h2 class="blog_list_item__title">
    <a href="{{ include.blog.url | relative_url }}">{{ include.blog.title }}</a>
  </h2>
  {% if include.blog.excerpt %}
    <p class="blog_list_item__excerpt">{{ include.blog.excerpt | strip_html | truncatewords: 30 }}</p>
  {% endif %}
  <p class="blog_list_item__meta">
    {{ include.blog.date | date: "%B %-d, %Y" }}
    {% if include.blog.type %}
      &middot;
      {% if include.blog.type == 'foot' %}<i class="fas fa-person-hiking"></i> Foot
      {% elsif include.blog.type == 'bike' %}<i class="fas fa-bicycle"></i> Bike
      {% endif %}
    {% endif %}
    {% if include.blog.location %}
      &middot; {{ include.blog.location }}
    {% endif %}
  </p>
</article>