{% assign images = site.data.carousels[include.carousel_file][include.carousel_id] %}

{% if images %}
  <div class="gallery" data-carousel-id="{{ include.carousel_id }}">
    {% for image in images %}
      <figure>
        <img src="{{ image.url }}" data-index="{{ forloop.index0 }}">
        <caption>{{ image.caption }}</caption>
      </figure>
    {% endfor %}
  </div>
{% else %}
  <p>
    No images found for carousel '{{ include.carousel_id }}' in file '{{ include.carousel_file }}'.
    Available keys: {{ site.data.carousels[include.carousel_file] | keys | join: ", " }}
  </p>
{% endif %}

<script src="{{ '/assets/js/carousel.js' | relative_url }}"></script>