/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-1;
  color: var(--global-text-color-light);
  border-bottom: 1px solid var(--global-border-color);

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: -.7em;
  font-family: $sans-serif-narrow;
  font-size: $type-size-5;

  a + a {
    opacity: 0.5;
  }
}

.archive__item-author-inline {
  font-size: .9em;
  // color: var(--global-text-color-light); // or your preferred color
  margin-left: 0.4em;
  font-weight: normal;
}

.archive__item-location-inline {
  font-size: .9em;
  // color: var(--global-text-color-light); // or your preferred color
  margin-left: 0.4em;
  font-weight: normal;
}

.archive__item-published {
  font-size: .9em;
  // color: var(--global-text-color-light);
  // margin-left: 0.5em;
  font-weight: normal;
}

// .thumbnail_container.bg {
//   display: block;
//   position: relative;
//   background-image: url('/images/CWT/Start.jpg');
//   background-size: cover;
//   background-position: center;
//   height: 320px; /* or whatever */
//   text-decoration: none;
//   color: inherit;
// }

// thumbnails for blog posts
.thumbnail_container.bg {
  display: block;
  position: relative;
  // background-image: url(post.thumbnail);
  background-size: cover;
  background-position: center;
  height: 320px; /* or whatever */
  text-decoration: none;
  color: inherit;
  margin-top: 1em;

  border-radius: 10px;

  &:hover {
    box-shadow: 0 0 10px rgba(#000, 0.25);
    cursor: pointer;
    transform: scale(1.025);
    transition: transform 0.2s ease;
  }

}

.thumbnail_overlay1 {
  position: absolute;
  bottom: 16px;   /* or top/center */
  left: 16px;
  z-index: 2;
  color: white;
  margin: 0;
  font-size: 1.5em;
}

.thumbnail_overlay_date {
    font-size: 0.7em; /* bigger than surrounding text */
}

.thumbnail_overlay2 {
  position: absolute;
  bottom: 16px;   /* or top/center */
  right: 16px;
  z-index: 2;
  color: white;
  margin: 0;
  font-size: 0.7em;
}

.thumbnail_overlay3 {
  position: absolute;
  bottom: 32px;   /* or top/center */
  right: 16px;
  z-index: 2;
  color: white;
  margin: 0;
  font-size: 1em;
}

// thumbnails for photography
.custom-wrapper {
  max-width: 100%;       /* adjust as needed */
  margin: 2em auto;           /* center the content */
  padding-left: 2em;        /* breathing room on sides */
  padding-right: 2em;
}

/* Responsive photo grid */
.photo_grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 1em;
  width: 100%;
}

@media (max-width: 900px) {
  .photo_grid {
    grid-template-columns: repeat(2, 1fr); /* 2 on tablets */
  }
}
@media (max-width: 600px) {
  .photo_grid {
    grid-template-columns: 1fr; /* 1 on mobile */
  }
}


.photo_container.bg {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.photo_container.bg:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.03);
}


.photo_overlay1 {
  position: absolute;
  bottom: 16px;   /* or top/center */
  left: 16px;
  z-index: 2;
  color: white;
  margin: 0;
  font-size: 1em;
  transition: color 0.2s ease;
  color: rgba(255, 255, 255, 0); /* lower opacity on hover */
}

.photo_container.bg:hover .photo_overlay1 {
  color: rgba(255, 255, 255, 0.8); /* lower opacity on hover */
}

.photo_overlay_date {
    font-size: 0.6em; /* bigger than surrounding text */
}

.photo_overlay2 {
  position: absolute;
  bottom: 16px;   /* or top/center */
  right: 16px;
  z-index: 2;
  color: white;
  margin: 0;
  font-size: 0.6em;
}

.photo_overlay3 {
  position: absolute;
  bottom: 32px;   /* or top/center */
  right: 16px;
  z-index: 2;
  color: white;
  margin: 0;
  font-size: 1.2em;
}


/* Tabs container */
.tabs {
  display: flex;
  justify-content: space-between; /* spacing between tabs */
  margin: 0.5em 0 1.5em; /* space below title */
  // border-bottom: 2px solid #ddd; /* underline like a divider */
}

/* Tabs as links/headings */
.tab-button {
  background: none;
  white-space: nowrap;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1.25em; /* close to your title size */
  font-weight: 600;
  color: #444;
  cursor: pointer;
  transition: color 0.2s ease, border-color 0.2s ease;
  border-bottom: 3px solid transparent;
}

/* Active tab highlighted */
.tab-button.active {
  color: #000;
  border-color: #000; /* underline effect */
  font-weight: 600;
}

/* Hover effect — only for non-active tabs */
.tab-button:not(.active):hover {
  border-color: #8f8f8f; /* underline effect */
  color: #434343;          /* optional text color change */
}



/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
    font-size: $type-size-1;
  }
}

.archive__item-author {
  margin-top: 0;
  font-size: $type-size-1;

  & + p {
    text-indent: 0;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-2;

  & + p {
    text-indent: 0;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    // text-decoration: underline;
    font-size: $type-size-5;
  }
}


/*
   List view
   ========================================================================== */

.list__item {
  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-1;
  }

  .archive__item-excerpt {
    display: none;
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 200px;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .archive__item-teaser {
      max-height: 120px;
    }

    .archive__item-excerpt {
      display: block;
      font-size: $type-size-6;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid var(--global-border-color);
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}
