// Static white masthead
.masthead {
  position: static;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: none;

  a,
  .masthead__menu-item a,
  .masthead__menu-item--lg a {
    color: #222 !important;
    text-shadow: none;
  }

  .navicon,
  .navicon::before,
  .navicon::after {
    background: #222 !important;
  }

  #theme-icon {
    color: #222 !important;
  }
}