.masthead {
  position: static;
  background: #fff;
  box-shadow: none;

  &__inner-wrap {
    // max-width: 1200px;   // or whatever your content width is elsewhere
    margin: 0 auto;
    padding: 0 1rem;     // breathing room on both sides
  }

  a,
  .masthead__menu-item a,
  .masthead__menu-item--lg a {
    color: var(--global-background-color-dark);
    text-shadow: none;
  }

  .navicon,
  .navicon::before,
  .navicon::after {
    background: #222 !important;
  }

}